<h3> {{name}} </h3>

<h5>Device ID: <a {{bind-attr href=dev_link}}>{{id}}</a></h5>

<p title="When did the last observation get logged with the server?">
    Last observation:
    {{local-date latest_obs.dt}}
    ({{from-now latest_obs.dt}})
</p>

<p>
    Temperature was {{convert-temp latest_obs.temp}}
</p>
<p>
    Pressure was {{convert-pressure latest_obs.pressure}}
</p>

<p>
    {{#link-to 'chart' (query-params devices=id)}}
        View chart
    {{/link-to}}
</p>
