<h3>{{name}} </h3>

{{d3-chart data=results chart-type="temp" name="Temperature"}}

{{d3-chart data=results chart-type="pressure" name="Atmospheric pressure"}}

{{d3-chart data=results chart-type="rssi" name="Wifi - received signal strength"}}

{{d3-chart data=results chart-type="delay" name='Approximate latency to "the cloud"'}}
